.cuerpo2 {
    background-color: #3e4451;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 90%;
    max-width: 400px;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dado {
    background-color: #606a77;
    color: white;
    font-size: 50px;
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}




